.parallax_N{
    min-height: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../Assets/bg\ \(1\).png");
}



.create{
    display: inline-block;
}