.about{
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-image: url("../../Assets/bg\ \(1\).png");
}

.about_header{
margin: 50px;
}

.about_head{
    font-size: 30px;
    color: brown;
}

h2{
    font-size: 20px;
    font-style: italic;
}

.about_title{
    font-size: 30px;
    padding: 50px;
    color: brown;
    font-weight: bold;
    font-style: italic;
}

.about_desc{
    line-height: 1;
    font-size: 25px;
}

.about_cards{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 29% 29% 29%;
    column-gap: 2%;
    
}

.profile{
    width: 55%;
    margin: 10px;
}

.about_profile{  
    display: block; 
    height: auto;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 40px;
    margin-bottom: 10px;
}

.aboutCard_foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.social_icon{
    width: 40px;
    margin: 3px; 
}
@media screen and (max-width:600px) {
    .about_cards{
        grid-template-columns:96%;
    }
    .about_desc{
        font-size: 20px;
    }
}
