@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.notes {
    float: left;
    text-align: center;
    margin: 2%;
    box-shadow: 5px 5px 5px 2px #f1eeee;
    width: 29%;
    border-radius: 20px;
}

.subNote {
    font-size: 1em;
    padding: 1%;
    padding-left: 5%;
    text-align: start;
    color: rgb(32, 31, 31);
}

.titleNote {
    font-size: 1.5em;
    padding: 1%;
    text-align: start;
    padding-left: 5%;
    color: hotpink;
    font-family: 'Raleway', sans-serif;
}

.deleteNote {
    padding: 10px;
}

.deleteIcon{
    color: rgb(241, 93, 185);
}
@media screen and (max-width: 700px){
    .notes{
        width: 46%;
    }
}
@media screen and (max-width: 450px){
    .notes{
        width: 96%;
    }
}