@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.notes {
    text-align: center;
    margin: 20px;
    border: 0 solid #000;
    box-shadow: 5px 5px 5px 2px #f1eeee;
    width: 400px;
    border-radius: 20px;
}

.subNote {
    align-items: center;
    border: none;
    font-size: large;
    width: 300px;
    padding: 10px;
    padding-left: 30px;
    outline: none;
    text-align: start;
    color: rgb(32, 31, 31);
}

.titleNote {
    border: none;
    font-size: 40px;
    width: 300px;
    padding: 10px;
    outline: none;
    text-align: start;
    padding-left: 30px;
    color: hotpink;
    font-family: 'Raleway', sans-serif;
}

.deleteNote {
    padding: 10px;
}

.deleteIcon{
    color: rgb(241, 93, 185);
}