.main_note {
    text-align: start;
     margin: 4%;
    box-shadow: 5px 5px 5px 2px #f1eeee;
    padding: 3%;
    width: 40vw;
    display: block;
}

.title {
    border: none;
    font-size: 3em;
     width: 100%;
    /* padding: 20px; */
   outline: none; 
    text-align: start;
    display: block;
}

.subject {
    /* align-items: center; */
    border: none;
    font-size: 1.5em;
    width: 100%;
    /* padding: 20px; */
    outline: none; 
    text-align: start;
    resize: vertical;
    display: block;
}

.plus_signe{
    padding: 10px;
}

.plus_sign {
    color: rgb(241, 93, 185);
}