.GamePage {
  font-family: sans-serif;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://github.com/sejal8745/SheHacks_Team-017/blob/master/src/Assets/bg%20(1).png?raw=true");
  text-decoration: none;
  background-size: cover;
}
.koi {
  text-decoration: none;
  color: black;
}
.item {
  color: black;
  outline: none;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 300px;
  width: 100%;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 15px;
  font-size: 3em;
  padding: 5px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 90px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.item > img {
  width: 50%;
  margin-top: 10px;
}
.item:hover {
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:600px){
  .item{
    font-size: 2em;
    min-height: 200px;
  }
}
